ipykernel
python-dotenv
langchain
langchain-google-genai
langchain-google-community


# Examples implemented from Learn section of langchain
# Semantic Search Portion
pypdf
langchain-community
pypdf
langchain-chroma

# RAG Portion
# Search Website Content
beautifulsoup4
bs4
langchain-text-splitters